*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Quicksand', sans-serif;
    
}

html{
    scroll-behavior: smooth;
}

/*Cor Navbar*/
.navbar{
    background-color: #381f3d;
    font-size: 20px;
}


/*Style do carrossel*/
.carrossel{
    background-color: #ff6500;
    height: 30rem;

}

.texto-carrossel{
    padding: 15px;
    font-weight: 900;
    font-size: 1.5rem;
}

.servicos{
    background-color: #FFEFD6;
    padding:  0 0 2rem 0;
}

.titulo{
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    
    
}

.nossos-servicos2{
    margin: auto;
    text-align: center;
    
}

.imagens-servicos{
    border-radius: 1rem;
    margin-top: 1rem;
}

.texto-servico{
    padding: 15px;
    text-align: center;
}

.quem-somos{
    margin: auto;
    text-align: center;
    padding: 1rem;
}

.leia-mais{
    text-decoration: none;
    color: #fff;
}

.leia-mais:hover{
    color: #fff;
}

.linha{
    background-color: #381f3d;
}

.linha2{
    margin: 0 auto;
    padding: 0;
    width: 75%;
    height: 10px;
}

.linha hr{
    margin: 0 auto;
    padding: 0;
    color: #fff;
    height: 5px;
    border-radius: 10px;
    top: 0;
}

.rodape{
    height: 33em;
    min-width: 100%;
    background: #381f3d;
    position: relative;
    bottom: 0;
    left: 0;
    color: #fff;
}

.rodape li{
    background-color: #381f3d;
    border: 0;
    text-align: center;
}

.rodape a{
    text-decoration: none;
    color: #fff;
    
}



.icones{
    margin: auto;
    align-items: center;
    padding: 20px;
}

.desenvolvedor{
    width: 100%;
    height: 1.5em;
    background-color: #fff;
    bottom: 0;
    padding: 0;
    color: #381f3d;
    margin: auto;
    text-align: center;
    position: relative;

    
}